:host {
    background: var(--dark-color);
    display: block;
    padding: 20px 12px;
    position: relative; // это для того, чтобы прилепить футер сайдбара к низу
}

.main-menu-list {
    display: grid;
    grid-gap: 8px;
    list-style: none;
    background: none;
}

.menu-item {
    padding: 16px 12px;
    border: none;
    color: var(--light-color);
    background: none;
    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    align-items: center;
    width: 100%;
    text-align: left;
    border-radius: 2px;

    &:hover, &:focus-visible {
        background: var(--dark-hover-color);
        color: var(--primary-color);

        .menu-item svg { // так делать не надо (максимально специфичный селектор должен стоять справа, по элементам не надо, так как он сначала найдет все теги svg, а потом отсеет)
            color: var(--primary-color);
        }
    }
}

.menu-item svg { // так делать не надо (максимально специфичный селектор должен стоять справа, по элементам не надо, так как он сначала найдет все теги svg, а потом отсеет)
    width: 16px;
    height: 16px;
}

.to-subscribers {
    display: flex;
    gap: 10px;
    align-items: center;   
}

.to-subscribers-link {
    color: var(--primary-color);
    text-decoration: none; // убираем подчеркивание у ссылки (<а>)
}

.to-subscribers-icon {
    width: 18px;
    height: 18px;
}

.sidebar__footer {
    background-color: var(--dark-hover-color);
    border-radius: 2px;
    padding: 4px 16px;
    display: grid;
    grid-template-columns: 32px 1fr 16px;
    grid-gap: 12px;
    align-items: center;
    position: absolute; // это для того, чтобы прилепить футер сайдбара к низу
    bottom: 20px; // это для того, чтобы прилепить футер сайдбара к низу

    // чтобы не выезжало за границу страницы
    width: calc(100% - 20px);
}

.sidebar__footer img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.username-text {
    color: var(--primary-color);
    font-weight: 700;
}

.settings-btn {
    svg {
        width: 18px;
        height: 18px;
        color: var(--primary-color);
    }
}