
<form class="profile-search-form" [formGroup]="searchForm">
    
    <label class="tt-form-label">
        <span class="tt-form-label-text"> Имя </span>
        <input formControlName="firstName" type="text" class="tt-form-input">
    </label>

    <label class="tt-form-label">
        <span class="tt-form-label-text"> Фамилия </span>
        <input formControlName="lastName" type="text" class="tt-form-input">
    </label>

    <label class="tt-form-label">
        <span class="tt-form-label-text"> Username </span>
        <input formControlName="username" type="text" class="tt-form-input">
    </label>

    <label class="tt-form-label">
        <span class="tt-form-label-text"> Стек </span>
        <input formControlName="stack" type="text" class="tt-form-input mb32">
    </label>
   
</form>
