
<div class="profile-card">
    <div class="avatar-name">

        <!-- при добавлении картинок в компоненты путь указываем от папки public -->
        <img src="/assets/images/avatar.png" alt="avatar" class="profile-card__avatar">

        <div class="profile-card__name">
            <strong class="h6">name surname</strong>
            <span class="subtitle">username</span>
        </div>
        
    </div>
    
    <div class="profile-card__description">
        blablabla
    </div>

    <div class="profile-card__tags">
        <div class="skill-tag">
            angular
        </div>
        <div class="skill-tag">
            css
        </div>
        <div class="skill-tag">
            js
        </div>
    </div>

    <div class="profile-card__action-buttons">
        <button class="btn"> подписаться </button>
    </div>

</div>