.to-settings__icon {
    width: 16px;
    height: 16px;
    color: var(--dark-color);
}

.profile-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.to-settings-btn {
   text-decoration: none;
   width: 190px;
   display: flex;
   align-items: center;
   gap: 12px;
}

.profile-page__body {
    display: grid;
    grid-gap: 64px;
    grid-template-columns: 1fr 350px;
    padding: 24px;
}

.subscriber-avatar-btn,
.profile-page__subscriber-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.subscribers-wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
}

.to-subscribers-search { // Делаем иконку кнопки на чистом CSS, а не используем готовую
    border-radius: 50%;
    background: var(--light-color);
    width: 14px;
    height: 14px;
    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 8px;
        background: var(--dark-color);

        top: 50%;
        left: 50%;
    }

    &:before {
        transform: translateX(-50%) translateY(-50%);
    }

    &:after {
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }
}

.stack-wrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}
