
<form class="login-form">
    <h1 class="h1 mb60">Вход</h1>

    <!-- for в label можно не писать, если input вложен в label -->
    <label class="tt-control-label mb16"> 
        Telegram username
        <input class="tt-input" type="text" placeholder="Введите логин">
    </label>

    <label class="tt-control-label mb32"> 
        Пароль
        <input class="tt-input" type="password" placeholder="Введите пароль">
    </label>

    <button type="button" class="btn btn-shadow"> Войти </button>
    
</form>

<img src="/assets/svg/logo.svg" alt="logo">
